certifi==2019.11.28
datasets==2.3.2
matplotlib==3.5.2
numpy==1.23.1
pandas==1.4.3
Pillow==10.2.0
Requests==2.31.0
scikit_learn==1.1.1
streamlit==1.30.0
torch==1.13.1
tqdm==4.64.0
transformers==4.20.1
umap==0.1.1
umap_learn==0.5.5
sentencepiece
